@model List<Travel_TripProject.Models.Comment>

<div>
    <p class="fs-5 fw-semibold title underline">Son Yorumlar</p>
    <div class="list">
        <ul>
            @foreach (var c in Model)
            {
                <li><a href="#yorum-@c.CommentId">@c.UserName yorum yaptı</a> </li>

            }
        </ul>
    </div>

</div>
